.box {
    width: 100%;
    height: 40px;

    padding: 5px 10px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 8px;

    background-color: var(--main-color-ocean);
    color: #FFF;
}

.box::placeholder {
    color: var(--main-color-brown);
}

.input {
    width: 100%;
    height: 100%;
}
