.header {
    height: 60px;

    color: var(--main-text-color);
    background-color: #FFF;

    z-index: 2;
    position: sticky;
    top: 0;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.container {
    width: 1470px;
    height: 100%;

    margin: 0 auto;
    gap: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separator {
    width: 1px;
    height: 30px;

    background-color: var(--main-color-orange);
}

.menu {
    color: var(--main-color-orange);
    font-size: 18px;
    display: flex;
    gap: 12px;
}

a {
    color: var(--main-color-orange);
}

.logo {
    width: 35px;
    height: 35px;

    border-radius: 50%;

    background-color: var(--main-color-orange);
    color: #FFF;
    cursor: pointer;

    text-align: center;
    font: 600 18px/30px 'Courier New';
    vertical-align: middle;
}