html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

html,
body {
	height: 100%;
	background-color: #FAFAFA;
}

#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: #FAFAFA;

	--main-color-green: #90C3BA;
	--main-color-black: #556366;
}

main {
	height: max-content;

	padding: 60px 20px;
	flex: 1 1 auto;
	display: flex;
	gap: 32px;

	position: relative;
}