html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

html,
body {
	height: 100%;
	background-color: #FAFAFA;
}

#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: #FAFAFA;

	--main-color-dark-blue: #0F1F38;
	--main-color-orange: #f55449;
	--main-color-ocean: #357082;
	--main-color-brown: #8e7970;
	--main-color-placeholder: #D3D3D3;

	font-family: 'Manrope';
}

main {
	height: max-content;

	padding: 60px 20px;
	flex: 1 1 auto;
	display: flex;
	gap: 32px;

	position: relative;
}